@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Theme */
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 0 0% 0%; /* #000000 */
    --card: 0 0% 96%; /* #F5F5F5 */
    --card-foreground: 0 0% 0%; /* #000000 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 0 0% 0%; /* #000000 */
    --primary: 216 100% 33%; /* #0066FF */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 0 0% 48%; /* #7A7A7A */
    --secondary-foreground: 0 0% 0%; /* #000000 */
    --muted: 0 0% 77%; /* #C5C5C5 */
    --muted-foreground: 0 0% 29%; /* #4A4A4A */
    --accent: 250 36% 95%; /* #EDE7F3 */
    --accent-foreground: 216 100% 33%; /* #0066FF */
    --destructive: 0 84% 60%; /* #DC2626 */
    --border: 0 0% 96%; /* #F5F5F5 */
    --input: 0 0% 96%; /* #F5F5F5 */
    --ring: 0 0% 77%; /* #C5C5C5 */
    --radius: 0.625rem;
    --chart-1: 34 76% 51%; /* #D97706 */
    --chart-2: 123 39% 49%; /* #4CAF50 */
    --chart-3: 216 100% 33%; /* #3399FF */
    --chart-4: 39 100% 57%; /* #F59E0B */
    --chart-5: 0 84% 60%; /* #DC2626 */
  }

  .dark:root {
    /* Dark Theme */
    --background: 0 0% 17%; /* #2B2B2B */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 0 0% 10%; /* #222222 */
    --card-foreground: 0 0% 100%; /* #FFFFFF */
    --popover: 0 0% 17%; /* #2B2B2B */
    --popover-foreground: 0 0% 100%; /* #FFFFFF */
    --primary: 210 100% 60%; /* #3399FF */
    --primary-foreground: 0 0% 17%; /* #2B2B2B */
    --secondary: 280 23% 69%; /* #A796B1 */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */
    --muted: 0 0% 51%; /* #818181 */
    --muted-foreground: 280 23% 69%; /* #A796B1 */
    --accent: 270 26% 20%; /* #2C2531 */
    --accent-foreground: 210 100% 60%; /* #3399FF */
    --destructive: 0 64% 43%; /* #C82D1F */
    --border: 0 0% 7%; /* #121212 */
    --input: 0 0% 7%; /* #121212 */
    --ring: 207 33% 46%; /* #5181AC */
    --radius: 0.625rem;
    --chart-1: 240 100% 50%; /* #2200FF */
    --chart-2: 162 50% 40%; /* #339966 */
    --chart-3: 39 100% 50%; /* #FFA500 */
    --chart-4: 290 50% 50%; /* #A64CA6 */
    --chart-5: 340 100% 60%; /* #FF3366 */
  }
}
